@charset "UTF-8";

/* Configuracao dispositivo em pe */

body {
    background-image: url(/imagens/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}