@charset "UTF-8";

/* Configuracao geral */


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #233EFF;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px #050297;
    width: 572px;
    margin: auto;
}